## This is a lesson on python fundamentals

## Python Statement

#### Multiple Statements

In [1]:
sum=10+23+\
30+40+\
10+45
print(sum)

158

In [2]:
sum=5+3+
7+9+
5+5
print(sum)

SyntaxError: invalid syntax (<ipython-input-2-225c593c6de0>, line 1)

In [3]:
sum=(2+3+
    5+6+
    4+1)
print(sum)

21

In [4]:
shape_list=['triangle','rectangle'
           'cube','square']
len(shape_list)

3

In [5]:
print(shape_list)

['triangle', 'rectanglecube', 'square']

In [7]:
print(shape_list[0])

triangle

#### Assigning Vriables in a Multiple Statement

In [6]:
a=12;b=45;c=23
print(a)

12

### Indentation

In [8]:
for i in range(1,5):
    print(i)

1
2
3
4

In [9]:
for i in range(1,5):
print(i)

IndentationError: expected an indented block (<ipython-input-9-824ff4a333ff>, line 2)

In [11]:
for i in range(1,5):
    print(i)
    if i==3:
        break

1
2
3

In [13]:
if True:
    print('hello')

hello

In [14]:
if False:
    print('hello')

### Strings

In [15]:
string="Hello Python"
type(string) # it's a string object

str

In [17]:
print(string)

Hello Python

In [18]:
print(string[0]) # By indexing we can extract any character

H

In [19]:
print(string[0:6]) # The slicer gives character 1 to 5th

Hello

In [20]:
print(string[::]) # Slicing brom the begining to the end of character

Hello Python

In [21]:
print(string[-2]) # For negative indexing, it starts from the right to two places left

o

In [22]:
print(string[:-2])# from the begining to two places from right

Hello Pyth

#### We can add two or more strings strings

In [23]:
string1="python" # Python simply join the strings without leaving space between words
string2="language"
string3="is simple"
print(string1+string2+string3)

pythonlanguageis simple

In [25]:
string1="python" # we should explicitly show python to leave spaces b/w words
string2="language"
string3="is simple"
print(string1+" " + string2+" " + string3)

python language is simple

#### A Multiple line Comment

In [26]:
# This is 
# a multiple
# Line statement

In [28]:
"""This is 
   a multiple
   line statement"""

'This is \n   a multiple\n   line statement'

#### Python Variables

In [29]:
integer=5
type(integer)

int

In [30]:
Float=4.5
type(Float)

float

In [31]:
string="python"
type(string)

str

#### Multiple value Assignments

In [33]:
a=24 # It takes the second value
a="hello"
print(a)

hello

#### Assigning Same value to Multiple Variables

In [34]:
a=b=c=6
print(a)

6

In [35]:
print(b)

6

## Data Types

* Numbers
* String
* List
* Tuple
* Set

#### Numbers

  * int
    
  * float

  * complex

In [10]:
complex_num=6+5j
type(complex_num)

complex

#### Pyhton List

In [12]:
my_list=[1,2,3,4,5] # It consists of ordered elements;means each element has an index
my_list             # Indexing starts from 0 onwards.

[1, 2, 3, 4, 5]

In [13]:
my_list2=[1,'Ram',2.5,5+2j] # A list can take any type of data
my_list2

[1, 'Ram', 2.5, (5+2j)]

In [59]:
# It contains another list as its element.
# This method is called nesting of lists
# This list has a tuple and a dictionary as well
my_list3=[(1,2),[2,"apple"],{"Nut":'almond'}] 
my_list3

[(1, 2), [2, 'apple'], {'Nut': 'almond'}]

In [60]:
my_list3[2]

{'Nut': 'almond'}

In [61]:
# The del method removes any element by index selection
del my_list3[0]
my_list3

[[2, 'apple'], {'Nut': 'almond'}]

In [62]:
my_list3[1]

{'Nut': 'almond'}

In [63]:
# In remove method, we have to pass the value that should be removed
my_list3.remove([2,'apple'])
my_list3

[{'Nut': 'almond'}]

In [1]:
# We can use repetition of a lists with multiplication
sample_List=[1,2,3,4,5]
sample_List*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [2]:
# We can concatenate two lists
a=[1,2,3,4,]
b=[6,7,8,]
a+b

[1, 2, 3, 4, 6, 7, 8]

In [6]:
# We can append a new  element to a list
b.append(9)
b

[6, 7, 8, 9]

In [17]:
# We can insert an element in to a list by showing its position
l=[1,2,3]
l.insert(0,"yes")
l

['yes', 1, 2, 3]

In [19]:
m=[2,4,6]
m.insert(1,"yes")
m

[2, 'yes', 4, 6]

In [21]:
n=[3,6,9]
n.insert(4,"yes")
n

[3, 6, 9, 'yes']

In [25]:
# Using extend( method, we can lengthen the list
alist=[1,4,8]
alist.extend([6,10,12])
alist

[1, 4, 8, 6, 10, 12]

In [27]:
# WE can replace any element from a list
alist[1]=13
alist

[1, 13, 8, 6, 10, 12]

### Pyhton Tuple

** It is an orered sequence of items as in the case of lists

** But items are immutable means their elements can not be changed

** But a tuple can be deleted as a whole

In [29]:
t=(1,"yes",2+5j)
type(t)

tuple

In [30]:
# We can perform indexing operation
t[0]

1

In [31]:
# We can use ddel method to delete the tuple
del t

In [32]:
# The tuple t is no more present
t

NameError: name 't' is not defined

### Pyhton Sets

* They are unordered collection of items of the same kind

* Slicing operation is not possible with Sets.

In [33]:
s={2,4,6,8,}
type(s)

set

In [1]:
# Union of two sets.It combines elements from both sets uniquely
# Not repeating the common elements.
s1={1,2,3,4,}
s2={1,2,5,6}
s1|s2

{1, 2, 3, 4, 5, 6}

In [2]:
# Intersection of two sets.It gives the common elements in both sets
s1&s2

{1, 2}

In [3]:
# Difference of two sets
s1-s2

{3, 4}

In [4]:
s2-s1

{5, 6}

In [5]:
# Symmetric difference between two sets
s1^s2

{3, 4, 5, 6}

In [6]:
s2^s1

{3, 4, 5, 6}

In [8]:
a_set={1,2,3}
a_set.add(2)
a_set

{1, 2, 3}

In [9]:
a_set.add(5)
a_set

{1, 2, 3, 5}

In [10]:
a_set.discard(5)
a_set

{1, 2, 3}

In [11]:
a_set.update([6,8,10])
a_set

{1, 2, 3, 6, 8, 10}

In [12]:
#It removes the first item
a_set.pop()
a_set

{2, 3, 6, 8, 10}

In [13]:
a_set.pop()
a_set

{3, 6, 8, 10}

In [15]:
# It gives an empty set.
a_set.clear()
a_set

set()

### Python Dictionaries

* It is an unoreded collection of keys and their values.

In [18]:
# Nick is the key and age is the value
d={'Nick':'age'}
d

{'Nick': 'age'}

In [19]:
type(d)

dict

In [20]:
# We can get the values of any key 
d['Nick']

'age'

In [22]:
# A single key can have different values
d={'Student':["Name","Age","Roll Number","Grade"]}
d

{'Student': ['Name', 'Age', 'Roll Number', 'Grade']}

In [23]:
# WE can acsses different values of the same key by using their index
d['Student'][0]

'Name'

In [24]:
d['Student'][2]

'Roll Number'

In [25]:
# Create a dictionary with three items
my_dict={}
my_dict={'days':['Mon','Tue','Wed','Thu','Fri','Sat','Sun'],
        'temp': [24,23,21,20,26,27,24],
        'Hum':[89,87,90,92,91,93,89]}
my_dict

{'Hum': [89, 87, 90, 92, 91, 93, 89],
 'days': ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
 'temp': [24, 23, 21, 20, 26, 27, 24]}

In [27]:
# We can acsses any element by giving the key
my_dict['days']

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [28]:
# We can get all the keys
my_dict.keys()

dict_keys(['days', 'temp', 'Hum'])

In [29]:
# WE can get all the values
my_dict.values()

dict_values([['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], [24, 23, 21, 20, 26, 27, 24], [89, 87, 90, 92, 91, 93, 89]])

In [33]:
# We can add an item to the dictionary
my_dict['Condition']=['Sunny','Sunny','Rain','Rain',"Sunny",'Cloudy','Cloudy']
my_dict

{'Condition': ['Sunny', 'Sunny', 'Rain', 'Rain', 'Sunny', 'Cloudy', 'Cloudy'],
 'Hum': [89, 87, 90, 92, 91, 93, 89],
 'days': ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
 'temp': [24, 23, 21, 20, 26, 27, 24]}

In [38]:
# To change an entry
my_dict['Condition']=['Rainy',"Rainy","Sunny","Rainy","Cloudy","Sunny",'Cloudy']
my_dict

{'Condition': ['Rainy',
  'Rainy',
  'Sunny',
  'Rainy',
  'Cloudy',
  'Sunny',
  'Cloudy'],
 'Hum': [89, 87, 90, 92, 91, 93, 89],
 'days': ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
 'temp': [24, 23, 21, 20, 26, 27, 24]}

In [40]:
# To delete an item from the dictionary
del my_dict['Condition']
my_dict

{'Hum': [89, 87, 90, 92, 91, 93, 89],
 'days': ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
 'temp': [24, 23, 21, 20, 26, 27, 24]}

In [41]:
# To make a copy of the dictionary
d= my_dict.copy()
d

{'Hum': [89, 87, 90, 92, 91, 93, 89],
 'days': ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
 'temp': [24, 23, 21, 20, 26, 27, 24]}

In [43]:
# To remove all the items from d.
# It gioves an empty dictionary
d.clear()
d

{}

### Data Type Conversion

In [1]:
# When a float is asked tobe converted into an integer, the decimal part is discarded
n=2.3
int(n)

2

In [3]:
# When an iteger is converted into a float, azero is addaed as decimal part
n=2
float(n)

2.0

In [4]:
#When an integer is converted into a complex number,it adds azero to the complex part.
n=6
complex(n)

(6+0j)

In [11]:
# Convert an integer into a 
n=6
chr(n)

'\x06'

### Python Input And Output Functions

In [3]:
x=input('Enter a number')

Enter a number23

In [9]:
# Print is an output function.
#print(object,sep='',end='\n')
print("This is an \n example of line break")

This is an
 example of line break

In [12]:
print(12,6,34,45,sep='-')

12-6-34-45

In [16]:
print(12,6,34,45,sep='^',end="#")

12^6^34^45#

In [17]:
# An assigned variable value can be printed using the print function.
x=45
print(x,"is an odd number")

45 is an odd number

#### Ouput Formating

In [23]:
a=2
b=5
print("The sum of {} and {} = 5".format(a,b))

The sum of 2 and 5 = 5

In [26]:
# We can use the order in which the objects are arranged with in format()
print("I like {0} better than {1}".format("Mango","Orange"))

I like Mango better than Orange

In [27]:
print("I like {1} better than {0}".format("Mango","Orange"))

I like Orange better than Mango

In [31]:
# We can even pass keyword arguments in print()
print("{Name} , {Address} ".format(Name='Jack',Address='#4 Lowal Street'))

Jack , #4 Lowal Street

In [50]:
# Corect the numbers to the nearest decimals.
# %1 show number format and .2f for number of decimals
# %x for the value of x
x=12.3456789
print('The value of x is %1.2f'%x)

The value of x is 12.35

In [51]:
print('The value of x is %1.3f'%x)

The value of x is 12.346

In [52]:
print('The value of x is %1.4f'%x)

The value of x is 12.3457